@using System.Web.Mvc

@helper ActionButton(
    string title, string description,
    string buttonCssClass, string iconCssClass,
    string action,
    UrlHelper Url) // Notice that UrlHelper is passed from the caller
{
    <a href='@Url.Action(action)'
       class="buttonex @buttonCssClass">
        <div class="text-left">
            <i class="mdi @iconCssClass"></i>
            <b>@title</b>
            <p class="mb-0">@description</p>
        </div>
    </a>
}